.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# .pnp.*

node_modules
dist
test-results
coverage

**/.angular/cache
**/.svelte-kit

.env
.env.*
!.env.example
*.db
