.amplify-storagemanager__previewer {
  max-height: 36rem;
}

.amplify-storagemanager__file__list {
  max-height: 100%;
  overflow-y: auto;
}

:root {
  --amplify-components-button-hover-background-color: rgba(25, 118, 210, 0.04);
  --amplify-components-button-hover-border-color: #1976d2;
  --amplify-components-button-hover-color: #1976d2;

  --amplify-components-button-active-background-color: var(
    --amplify-components-button-hover-background-color
  );
  --amplify-components-button-active-border-color: var(
    --amplify-components-button-hover-border-color
  );
  --amplify-components-button-active-color: var(--amplify-components-button-hover-color);

  --amplify-components-button-focus-background-color: var(
    --amplify-components-button-hover-background-color
  );
  --amplify-components-button-focus-border-color: var(
    --amplify-components-button-hover-border-color
  );
  --amplify-components-button-focus-color: var(--amplify-components-button-hover-color);
  --amplify-components-button-focus-box-shadow: unset;

  --amplify-components-storagemanager-loader-stroke-filled: #1976d2;

  --amplify-components-button-background-color: transparent;
  --amplify-components-button-border-color: rgba(25, 118, 210, 0.5);
  --amplify-components-button-color: #1976d2;
  --amplify-colors-font-primary: rgba(0, 0, 0, 0.87);
  --amplify-colors-font-success: #1976d2;
}
