<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" media="screen" th:href="@{/assets/styles.css}" />
  </head>
  <body>
    <main>
      <form th:action="@{/login}" method="post">
        <h1>Login</h1>
        <div>
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username"
            autocomplete="username"
            autofocus
            required
          />
        </div>
        <div>
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            autocomplete="current-password"
            required
          />
        </div>
        <button type="submit">Log In</button>
      </form>
    </main>
  </body>
</html>
