<mat-sidenav-container>
  <mat-sidenav class="trackr-sidenav" mode="side" disableClose fixedInViewport opened>
    <mat-toolbar>
      <a class="flex items-center gap-2 px-8 select-none" routerLink="/">
        <img class="w-12 h-12" src="/music-robot-96.png" [alt]="title" />
        <div class="font-bold">{{ title }}</div>
      </a>
    </mat-toolbar>
    <mat-divider class="trackr-divider" />
    <mat-nav-list class="trackr-nav-list">
      @for (navItem of navList; track navItem.title) {
        <a
          mat-list-item
          routerLinkActive
          [routerLink]="navItem.path"
          [activated]="rla.isActive"
          #rla="routerLinkActive"
        >
          <mat-icon matListItemIcon>{{ navItem.icon }}</mat-icon>
          <div matListItemTitle>{{ navItem.title }}</div>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="fixed"></mat-toolbar>
    <main class="p-4">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
